.mainContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:100%;
 justify-content: space-between;
}
.progres1s{
  align-items: center;
}
.profileContainer {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -45deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(46, 46, 46, 1) 36%,
    rgba(68, 68, 68, 1) 100%
  );
  margin-bottom: 50px;
  margin-top: 100px;
  border-radius: 20px;
  padding: 20px;
  z-index: 1;
  box-shadow: 0 0.5px 100px rgba(0, 255, 98, 0.15);
  border: 2px solid;
  border-color: #04aa6d;
  border-radius: 20px;
}
.list-group-item{
  background-color: #6b6b6b;
}
.list-group-item:hover{
  cursor:pointer;
  background-color: darkgrey;
}
.calendar-header{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
@media screen and (max-width: 500px) {
  .profileContainer {
    display: flex;
    padding: 0;
  }
  .calendar{
    padding: 0;
  }
  .mainContainer {
    padding: 0;
  }
  .footer{
    width: 100%;
    padding: 0;
  }
  .myNavbar{
    width: 20%;
    padding: 0;
  }

}