<app-navigbar
  currentComponent="profile"
  username="{{ user.username }}"
  userrole="{{ user.role }}"
></app-navigbar>
<div class="mainContainer">
  <div class="profileContainer">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
    />
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
        <div
          class="card border-0 shadow"
          style="border-radius: 20px; background: #6b6b6b; color: white"
        >
          <img
            src="https://www.bootdey.com/img/Content/avatar/avatar6.png"
            alt="..."
            style="border-radius: 20px"
          />
          <div class="card-body p-1-9 p-xl-5" style="color: white">
            <div class="mb-4">
              <h3 class="h4 mb-0">{{ user.username }}</h3>
              <span>ROLE: {{ user.role }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="">
          <div class="mb-5 wow fadeIn">
            <mdb-navbar
              SideClass="navbar navbar-1 navbar-dark rounded-lg border"
              [containerInside]="false"
              class="myNavbar"
            >
              <mdb-navbar-brand>
                <a class="navbar-brand">
                  <h1 class="h1 mb-0" style="color: white">My Tasks</h1></a
                >
                
              </mdb-navbar-brand>

              <links>
                <ul class="list-group">
                  <li
                    style="
                      background: #6b6b6b;
                      font-size: 1.5em;
                      font-weight: bold;
                      font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                        'Trebuchet MS', sans-serif;
                    "
                    class="list-group-item"
                    *ngFor="let task of tasks; let i = index"
                    routerLink="/taskDetail/{{task._id}}"
                  >
                    {{ task.name }}
                    <span
                      *ngIf="tasks[i].priority == 'LOW'"
                      style="color: #04aa6d"
                      >{{ task.priority }}</span
                    >
                    <span
                      *ngIf="tasks[i].priority == 'MEDIUM'"
                      style="color: #ffea00"
                      >{{ task.priority }}</span
                    >
                    <span
                      *ngIf="tasks[i].priority == 'HIGH'"
                      style="color: #fc8507"
                      >{{ task.priority }}</span
                    >
                    <span
                      *ngIf="tasks[i].priority == 'CRITICAL'"
                      style="color: #a40404e3"
                      >{{ task.priority }}</span
                    >
                    <div class="progress">
                      <div
                        class="progress-bar"
                        style="background-color: #04aa6d"
                        role="progressbar"
                        style.width.%="{{ task.progress }}"
                        attr.aria-valuenow="{{ task.progress }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        {{ task.progress }}%
                      </div>
                      
                    </div>
                  </li>
                </ul>
              </links>
            </mdb-navbar>
          </div>
      <div class="text-start  wow fadeIn">
              <h2 class="mb-0" style="color: white; font-weight: bold">
                Agenda
              </h2>
          <div class="wow fadeIn">
      
            </div>

            <div class="calendar-header">
              <div class="">
                <div class="btn-group">
                  <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    Previous
                  </div>
                  <div
                  class="btn btn-primary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                  >
                    Today
                  </div>
                  <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    Next
                  </div>
                </div>
              </div>
              <div class="">
                <h3 style="text-align: center;color: white;">{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
              </div>
              <div class="">
                <div class="btn-group">
                  <div
                    class="btn btn-primary"
                    (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month"
                  >
                    Month
                  </div>
                  <div
                    class="btn btn-primary"
                    (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week"
                  >
                    Week
                  </div>
                  <div
                    class="btn btn-primary"
                    (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day"
                  >
                    Day
                  </div>
                </div>
              </div>
            </div>
            <div [ngSwitch]="view" class="calendar">
              <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="eventClicked($event)"
              >
              </mwl-calendar-month-view>
              <mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                [events]="events"
                (eventClicked)="eventClicked($event)"
              >
              </mwl-calendar-week-view>
              <mwl-calendar-day-view
                *ngSwitchCase="'day'"
                [viewDate]="viewDate"
                [events]="events"
                (eventClicked)="eventClicked($event)"
              >
              </mwl-calendar-day-view>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<app-footer style="width: 100%;"></app-footer>
  <!-- 
<app-footer></app-footer> -->
</div>
