a, h5 {
    letter-spacing: 1px;
    color: white;
}

.userrole {
    background: linear-gradient(to top right, #cc0066 0%, #ff5050 100%);
    color: white;
    border-radius: 20px;
}

.lftbut, .rgtbut {
    background: rgb(33,33,33);
    color: white;
    border: 2px solid black;
    border-color: #04AA6D;
    border-radius: 20px;
}

.lftbut{
    background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%);
}

.rgtbut{
    background: linear-gradient(-45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%);
}

.container{
    max-width: 80%;
}

.big {
    z-index: 0;
}

.small {
    z-index: 1;
}

.lftbut:hover, .rgtbut:hover{
    z-index: 2;
    box-shadow: 0 10px 100px rgba(0, 255, 98, 0.15);
    transform: scale(1.05) perspective(1px)
}

footer {
    width: 100%;
    color: white;
    text-align: center;
  }

.enjoyapp{
    padding-left: 400px;
    padding-right: 400px;
}
.mainContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    justify-content: space-between;
}