<!-- <app-navigbar currentComponent="createuser" username={{user.username}} userrole={{user.role}}></app-navigbar>

<div class="mainContainer">
  <div style="margin-top:6%; margin-bottom:5%;">
    <div class="enjoyapp text-center">
      <div class="white-text">
        <h2 class="h1 h1-responsive font-bold wow" data-wow-delay="0.3s">Link projects to teams</h2>
        <hr class="hr-light wow" data-wow-delay="0.3s">
      </div>
    </div>
    <button class="lftbut" mdbBtn type="button" rounded="true">
      <form class="d-flex flex-column text-center" [formGroup]="projectForm" (ngSubmit)="onSubmit()" style="margin:50px;">
        <h4 class="mb-4" style="color: #ffffff; opacity: 87%">Link project</h4>
        <div class="form-group">
          <select class="form-select form-control browser-default custom-select" formControlName="role"
            [ngClass]="{ 'is-invalid': submitted && f['role'].errors }" id="validationCustom04" required>
            <option selected disabled value="">Choose role...</option>
            <option *ngFor="let proj of listOfProjects" [value]="proj._id">
              {{proj.name}}
            </option>
          </select>
          <div class="invalid-feedback">
            Please select a valid role
          </div>
        </div>
      </form>
    </button>
  </div>
  <app-footer style="width: 100%"></app-footer>
</div> -->