a, h5 {
    letter-spacing: 1px;
}

.white-text{
    margin: auto;
    width: 20%;
}

.lftbut, .rgtbut {
    background: rgb(33,33,33);
    color: white;
    border: 2px solid black;
    border-color: #04AA6D;
    border-radius: 20px;
    z-index: 2;
    box-shadow: 0 10px 100px rgba(0, 255, 98, 0.15);
    transform: perspective(1px)
}

.lftbut{
    background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%);
}

.rgtbut{
    background: linear-gradient(-45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%);
}

.container{
    max-width: 80%;
}

.big {
    z-index: 0;
}

.small {
    z-index: 1;
}

.mainContainer .bodycontainer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    justify-content: space-between;
}

.bodyContainer{
    padding-top: 50px;
      width:100%;
    height:100%;
}

.addUserButton {
    font-size: small;
}

app-footer{
    margin-bottom: 0cm !important; 
}