<app-navigbar currentComponent="createuser" username={{user.username}} userrole={{user.role}}></app-navigbar>

<div class="mainContainer">
  <div style="margin-top:6%; margin-bottom:5%;">
    <div class="enjoyapp text-center">
      <div class="white-text">
        <h2 class="h1 h1-responsive font-bold wow" data-wow-delay="0.3s">Create a new user</h2>
        <hr class="hr-light wow" data-wow-delay="0.3s">
      </div>
    </div>
    <button class="lftbut" mdbBtn type="button" rounded="true">
      <form class="d-flex flex-column text-center" [formGroup]="userForm" (ngSubmit)="onSubmit()" style="margin:50px;">
        <h4 class="mb-4" style="color: #ffffff; opacity: 87%">Create user</h4>
        <div class="form-group">
          <input type="text" formControlName="username" placeholder="Username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
            <div *ngIf="f['username'].errors['minlength']">Username must be at least length of 3</div>
            <div *ngIf="f['username'].errors['pattern']">Password is not alphanumeric</div>
          </div>
        </div>
        <div class="form-group">
          <select class="form-select form-control browser-default custom-select" formControlName="role"
            [ngClass]="{ 'is-invalid': submitted && f['role'].errors }" id="validationCustom04" required>
            <option selected disabled value="">Choose role...</option>
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid role
          </div>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="Password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">Password must be at least length of 8</div>
            <div *ngIf="f['password'].errors['pattern']">Required at least one uppercase and downcase letter and digit</div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" formControlName="confirm_password" placeholder="Confirm Password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors}"/>
          <div *ngIf="submitted && f['confirm_password'].errors" class="invalid-feedback">
            <div *ngIf="f['confirm_password'].errors['required']">
              Confirm Password is required
            </div>
            <div *ngIf="f['confirm_password'].errors['matching']">
              Confirmed Password does not match
            </div>
          </div>
        </div>
        <button mdbBtn color="info" type="submit" mdbWavesEffect
          style="background: linear-gradient(to top right, #cc0066 0%, #ff5050 100%);">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
          </button>
        <div *ngIf="error" class="alert alert-danger">
          {{ error }}
        </div>
        <div *ngIf="returnmessage" class="alert alert-success">
          {{ returnmessage }}
        </div>
      </form>
    </button>
  </div>
  <app-footer style="width: 100%"></app-footer>
</div>