a, h5 {
    letter-spacing: 1px;
}

.userrole {
    background: linear-gradient(to top right, #cc0066 0%, #ff5050 100%);
    color: white;
    border-radius: 20px;
}

.mainContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    justify-content: space-between;
}

.calendarIcon{
    border: 2px solid black;
    border-color: #04AA6D;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:7px;
    padding-bottom:7px;
}

::ng-deep .chevron {
    color: white!important;
}
.saveBut{
    background: linear-gradient(to top right, #cc0066 0%, #ff5050 100%);
    color: rgba(255, 255, 255, 0.818);
}
.input-group{
 display: flex;
 align-items: center;
}
form {
    display: inline-flex;
    flex-direction: column;
    justify-content:space-around;
}

.lftbut{
    background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%);
    color: white;
    border: 2px solid black;
    border-color: #04AA6D;
    border-radius: 20px;
    z-index: 2;
    box-shadow: 0 10px 100px rgba(0, 255, 98, 0.15);
    transform: perspective(1px);
    max-width: 400px;
}
