<app-navigbar currentComponent="taskList" username="{{ user.username }}" userrole="{{ user.role }}"></app-navigbar>
<div class="mainContainer">
  <div style="margin-top:6%; margin-bottom:5%;">
    <div class="enjoyapp text-center">
      <div class="white-text">
        <h2 class="h1 h1-responsive font-bold wow" data-wow-delay="0.3s">List of my tasks</h2>
        <hr class="hr-light wow" data-wow-delay="0.3s">
      </div>
    </div>
    <button class="lftbut" mdbBtn type="button" rounded="true">
      <h4 class="mb-4" style="color: #ffffff; opacity: 87%">Task List</h4>
      <ul class="list-group">
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">No Tasks</div>
        <li style="font-size: 1.5em; font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="list-group-item" *ngFor="let task of tasks; let i = index" routerLink="/taskDetail/{{task._id}}">{{ task.name }}
          <span *ngIf="tasks[i].priority == 'LOW'" style="color: #04aa6d">{{ task.priority }}</span>
          <span *ngIf="tasks[i].priority == 'MEDIUM'" style="color: #ffea00">{{ task.priority }}</span>
          <span *ngIf="tasks[i].priority == 'HIGH'" style="color: #fc8507">{{ task.priority }}</span>
          <span *ngIf="tasks[i].priority == 'CRITICAL'" style="color: #a40404e3">{{ task.priority }}</span>
          <div class="progress">
            <div class="progress-bar" style="background-color: #04aa6d" role="progressbar"
              style.width.%="{{ task.progress }}" attr.aria-valuenow="{{ task.progress }}" aria-valuemin="0"
              aria-valuemax="100">
              {{ task.progress }}%
            </div>
          </div>
        </li>
      </ul>
    </button>
  </div>
  <app-footer style="width: 100%"></app-footer>
</div>