@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-y:auto;
}
body{
  background-image: linear-gradient(#1a1a1a80,
  #141414), url("./assets/images/backgroundImage.png");
  background-size: cover;
}