html, body {
    margin: 0;
    height: 100vh;
    overflow-y:auto;
}
body{
  background-image: linear-gradient(#1a1a1a80,
  #141414), url("./assets/images/backgroundImage.png");
  background-size: cover;
}