<!-- Footer -->
<footer class="page-footer font-small elegant-color pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        <div class="col-md-6 mt-md-2 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Welcome to our page!</h5>
          <p>For any help regarding the usage of our page, consult one of us, developers, using one of the following links:</p>
  
        </div>
        <div class="col-md-2" >
  
            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Bruno Cotrim, nº54406</a>
              </li>
              <li>
                <a href="#!">Miguel Carvalho, nº54399</a>
              </li>
              <li>
                <a href="#!">Lucas Ferraz, nº49420</a>
              </li>
              <li>
                <a href="#!">Miguel, nº</a>
              </li>
              <li>
                <a href="#!">Diogo, nº</a>
              </li>
            </ul>

        </div>
      </div>
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 elegant-color-dark">2022 ProjetoPSI
      <a href="https://beanscorp.com">BeansCorp.</a>
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->
  