<app-navigbar currentComponent="taskDetail" username="{{ user.username }}"
userrole="{{ user.role }}"
></app-navigbar>
<div class="mainContainer">
  <div class="detailContainer" style="color: white">
    <div class="tittle">
      <h1>Task Details</h1>
      <h2>Name: {{ task.name }}</h2>
      <form [formGroup]="form">
        <ng-multiselect-dropdown
          name="Utilizadores"
          [placeholder]="'Selected Users'"
          [data]="data"
          formControlName="usersform"
          [disabled]="disabled"
          [settings]="dropdownSettings"
        >
        </ng-multiselect-dropdown>
        <button
          mdbBtn
          class="saveBut"
          type="submit"
          style="margin-left: 0"
          (click)="saveChanges()"
          rounded="true"
          mdbWavesEffect
        >
          Save Changes
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
        <div *ngIf="message" class="alert success-color mt-3 mb-0">
          {{ message }}
        </div>
      </form>
    </div>

 
  </div>   <app-footer style="width: 100%"></app-footer>
</div>
