.mainContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:100%;
  justify-content: space-between;
}

.white-text{
  flex-grow: 1;
  max-height: 5%;
}

.detailContainer {
  background: linear-gradient(
    -45deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(46, 46, 46, 1) 36%,
    rgba(68, 68, 68, 1) 100%
  );
  z-index: 1;
  box-shadow: 0 0.5px 100px rgba(0, 255, 98, 0.15);
  border: 2px solid;
  border-color: #04aa6d;
  border-radius: 20px;
}

.checkboxContainer {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

ng-multiselect-dropdown {
  margin-left: 5px;
  width: 200px;
}

.lftbut, .rgtbut {
  background: rgb(33,33,33);
  color: white;
  border: 2px solid black;
  border-color: #04AA6D;
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0 10px 100px rgba(0, 255, 98, 0.15);
  transform: perspective(1px)
}

.lftbut{
  background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%);
}

.taskProjectButton {
  display: flex;  
  align-items: center;
  height: 30px;
  width: auto;
}

.taskMembers, .taskProject {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.taskProject {
  margin-top: 10px;
}

.calendar-header{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.saveBut{
  background: linear-gradient(to top right, #cc0066 0%, #ff5050 100%);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.818);
}

.lowerContainer {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.taskName {
  float: left;
}

.buttonsContainer {
  float: right;
  text-align: center;
}

.checklist {
  height: 300px;
  max-width: 100%;
  padding: 0px;
  
 
  overflow-x: scroll;
  overflow: hidden;
  overflow-y: scroll;
}

.deleteItemButton{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}


.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em; 
  font-weight: bold; 
  //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
  font-size: 17px;
  height: 50px;
  padding: 5px;
  text-align: center;
}
.addItemButton {
  height: 100%;
  width: 100%;
}

.checkIcon {
  margin-top: 15px;
}


.deleteItemButton {
  padding-left: 7px;
}
.checkListFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-component{
  margin-top: 20px;
}
.search-component > *{
  margin-top: 10px;
}
.tittle > * {
  margin-top: 30px;
}
.user-search-box{
 width: 10%;
 border-radius: 15px;
}
.sugestion {
  width:20%;
  background-color: white;
}
h1 {
  text-align:center;
}
  @media screen and (max-width: 500px) {
    .profileContainer {
      display: flex;
      padding: 0;
    }
    .calendar{
      padding: 0;
    }
    .mainContainer {
      padding: 0;
    }
    .footer{
      width: 100%;
      padding: 0;
    }
    .myNavbar{
      width: 20%;
      padding: 0;
    }
  
  }

.taskProject, .progressRoll {
  margin-top: 10px;
}

$range-handle-color: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%);
$range-handle-color-hover: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 36%, rgba(68,68,68,1) 100%) !default;
$range-handle-size: 20px !default;

$range-track-color: rgba(255, 255, 255, 0.314) !default;
$range-track-height: 2px !default;

$range-label-width: 60px !default;

.slider {
  padding-top: 15px;
  padding-bottom: 20px;
  width: 80%;
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 10px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  //Melhorar a aparencia do slider

  // Falta mostrar que o user, quando so usa o teclado, esta sobre o slider 
  // Range Handle
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    border: 1px solid #04AA6D;
    background: $range-handle-color;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 10px 100px rgba(0, 255, 98, 0.15);
    transform: perspective(1px);
    transition: all 0.15s ease-in-out;
    &:hover {
      background: $range-handle-color-hover;
      transform: scale(1.2);
    }
  }
  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
    &:hover {
      background: $range-handle-color-hover;
    }
  }
}
