<app-navigbar currentComponent="schedulereunion" username={{user.username}} userrole={{user.role}}></app-navigbar>
<div class="mainContainer">
    <!-- <div class="navbarSpace"></div> -->
    <div class="infoContainer">
        <div class="enjoyapp text-center">
            <div class="white-text">
              <h2 class="h1 h1-responsive font-bold wow" data-wow-delay="0.3s">Schedule a reunion</h2>
              <hr class="hr-light wow" data-wow-delay="0.3s">
            </div>
        </div>
        <form class="d-flex flex-column text-center" [formGroup]="scheduleForm" (ngSubmit)="onSubmitSchedule()">
            <div id="members" class="form-group">
                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList" (keyup.enter)="onTabShowSelect()"
                  classes-btn="'btn-primary btn-block'" formControlName="members" placeholder="Select reunion members"
                   [ngClass]="{ 'is-invalid': submittedSchedule && f['members'].errors }">
                </ng-multiselect-dropdown>
                <div *ngIf="submittedSchedule && f['members'].errors" class="invalid-feedback">
                  <div *ngIf="f['members'].errors['dropdown-error']">Team must have at least one member</div>
                </div>
            </div>
            <div id="reunionTime" class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend" data-toggle="dropdown"><mdb-icon fas icon="info"></mdb-icon></span>
                  <div class="dropdown-menu">
                    <span class="dropdown-item-text" style="font-size: small !important">Format of the input: HH:MM, where H is hours and M minutes. Minutes have to be a number multiple of 30</span>
                  </div>
                </div>
                <input type="text" formControlName="reunionTime" placeholder="Reunion time" class="form-control" style="border-top-right-radius: 2px; border-bottom-right-radius: 2px;"
                  [ngClass]="{ 'is-invalid': submittedSchedule && f['reunionTime'].errors }"/> 
                <div *ngIf="submittedSchedule && f['reunionTime'].errors" class="invalid-feedback">
                  <div *ngIf="f['reunionTime'].errors['required']">Duration of reunion is required</div>
                  <div *ngIf="f['reunionTime'].errors['pattern']">Duration is in the wrong format</div>
                </div>
              </div>
            </div>
            <div id="inicialTime" class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="Start date" formControlName="inicialDate"
                        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [ngClass]="{ 'is-invalid': submittedSchedule && f['inicialDate'].errors }">
                <button (click)="d.toggle()" type="button"><mdb-icon fas icon="calendar-alt"></mdb-icon></button>
                <div *ngIf="submittedSchedule && f['inicialDate'].errors" class="invalid-feedback">
                  <div *ngIf="f['inicialDate'].errors['required']">Start date is required</div>
                </div>
              </div>
            </div>
            <div id="finalTime" class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="End date" formControlName="finalDate"
                        name="dp" [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker" [ngClass]="{ 'is-invalid': submittedSchedule && f['finalDate'].errors }">
                <button (click)="d1.toggle()" type="button"><mdb-icon fas icon="calendar-alt"></mdb-icon></button>
                <div *ngIf="submittedSchedule && f['finalDate'].errors" class="invalid-feedback">
                  <div *ngIf="f['finalDate'].errors['required']">End date is required</div>
                </div>
              </div>
            </div>
            <button mdbBtn color="info" type="submit" mdbWavesEffect
            style="background: linear-gradient(to top right, #cc0066 0%, #ff5050 100%);">
            <span *ngIf="loadingSchedule" class="spinner-border spinner-border-sm mr-1"></span>
              Show options
            </button>
        </form>
        <form class="d-flex flex-column text-center" [formGroup]="availabilityForm" (ngSubmit)="onSubmitReunion()">
            <div id="availableDates" class="form-group">
              <select class="form-select form-control browser-default custom-select" formControlName="availableDates"
                [ngClass]="{ 'is-invalid': submittedReunion && f1['availableDates'].errors }" id="validationCustom04" required>
                <option selected disabled value="">Choose one of the available dates...</option>
                  <option [ngValue]="date" *ngFor="let date of listOfAvailableDates">
                    {{date.name}}
                  </option>
              </select>
              <div class="invalid-feedback">
                Please select a date
              </div>
            </div>  
            <div id="dayToChoose" class="form-group">
              <select class="form-select form-control browser-default custom-select" formControlName="availableDay"
              [ngClass]="{ 'is-invalid': submittedReunion && f1['availableDay'].errors }" id="validationCustom04" required>
              <option selected disabled value="">Choose one of the available days...</option>
                <option [ngValue]="day" *ngFor="let day of listOfAvailableDays">
                  {{day.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                Please select a day
              </div>
            </div>
            <div id="hourToChoose" class="form-group">
              <select class="form-select form-control browser-default custom-select" formControlName="availableHour"
              [ngClass]="{ 'is-invalid': submittedReunion && f1['availableHour'].errors }" id="validationCustom04" required>
              <option selected disabled value="">Choose one of the available hours...</option>
                <option [ngValue]="hour" *ngFor="let hour of listOfavailableHours">
                  {{hour.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                Please select a hour
              </div>
            </div>
            <button mdbBtn color="info" type="submit" mdbWavesEffect
              style="background: linear-gradient(to top right, #cc0066 0%, #ff5050 100%);">
              <span *ngIf="loadingReunion" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <div *ngIf="errorReunion" class="alert alert-danger">
                {{ errorReunion }}
            </div>
            <div *ngIf="returnmessageReunion" class="alert alert-success">
            {{ returnmessageReunion }}
            </div>
        </form>
    </div>
    <app-footer style="width: 100%"></app-footer>
</div>
